# haproxy-ro.cfg – RO-only load balancer (all replicas)
global
    log stdout format raw local0
    maxconn 4096
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect  5s
    timeout client   30s
    timeout server   30s
    retries 3

frontend fe_ro
    bind *:6433
    default_backend be_ro

backend be_ro
    balance  leastconn
    option   httpchk GET /replica HTTP/1.0\r\nHost:\ patroni
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server poc03-pgbouncer 172.20.0.33:5432 check port 8008 addr 172.21.0.23
    server poc02-pgbouncer 172.20.0.32:5432 check port 8008 addr 172.21.0.22

listen stats
    bind 127.0.0.1:8080
    stats enable
    stats uri /haproxy-stats
    stats auth admin:changeme_stats
