# haproxy-lr.cfg – Late Replica (24h delay) – read-only queries
global
    log stdout format raw local0
    maxconn 1024
    daemon
defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client  3600s   # long queries expected on 24h-delayed replica
    timeout server  3600s
    retries 3

frontend fe_lr_ro
    bind *:6433
    default_backend be_lr_ro

backend be_lr_ro
    option httpchk GET /replica HTTP/1.0\r\nHost:\ patroni
    http-check expect status 200
    default-server inter 10s fall 3 rise 2 on-marked-down shutdown-sessions
    server poc04-pgbouncer 172.20.0.34:5432 check port 8008 addr 172.21.0.24

listen stats
    bind 127.0.0.1:8080
    stats enable
    stats uri /haproxy-stats
    stats auth admin:changeme_stats
